In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])

In [3]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [8]:
#Accessing the elements
# 1 .loc    2. .iloc
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32

In [7]:
type(df.loc['row1'])

pandas.core.series.Series

In [10]:
df.iloc[0:2,0:2]

      column1  column2
row1        0        1
row2        4        5

In [12]:
type(df.iloc[0:2,0:2])    #because it have more than one rows or more than one columns. 
                           #So it is dataframe otherwise it is column

pandas.core.frame.DataFrame

In [13]:
#To convert a dataframe to array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [14]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [16]:
df['column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: column1, dtype: int64

In [17]:
df['column1'].unique()

array([ 0,  4,  8, 12, 16])

In [19]:
df[['column3','column4']]

      column3  column4
row1        2        3
row2        6        7
row3       10       11
row4       14       15
row5       18       19