In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880776 sha256=00e7c182784c14a3ffe06c217051e0c24ed45e299aa6f17b57473951851fbc7a
  Stored in directory: c:\users\vinay\appdata\local\pip\cache\wheels\df\88\9e\58ef1f74892fef590330ca0830b5b6d995ba29b44f977b3926
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_excel('aa.xlsx')

    Name  Age
0  dfsds   23
1   dsfe   30
2   fsff   29
3    fvf   27

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [11]:
df_pyspark=spark.read.csv('aa.csv')

In [16]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|dfsds| 23|
| dsfe| 30|
| fsff| 29|
|  fvf| 27|
+-----+---+

In [19]:
#for column as header
df_pyspark=spark.read.option('header','true').csv('aa.csv')

In [20]:
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
|dfsds| 23|
| dsfe| 30|
| fsff| 29|
|  fvf| 27|
+-----+---+

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_pyspark.head(3)

[Row(Name='dfsds', Age='23'),
 Row(Name='dsfe', Age='30'),
 Row(Name='fsff', Age='29')]

In [24]:
#like df.info()
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)