In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark=spark.read.csv('groupbypyspark.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|    sunny|Data Science| 10000|
|Sudhanshu|    Big Data|  5000|
+---------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
##Groupyby
#Grouped to find maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Krish|      19000|
|    sunny|      10000|
|   Mahesh|       7000|
+---------+-----------+

In [13]:
#Groupby Departments which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      13000|
|Data Science|      43000|
+------------+-----------+

In [14]:
#for maean
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(Salary)|
+------------+-----------------+
|         IOT|           7500.0|
|    Big Data|4333.333333333333|
|Data Science|          10750.0|
+------------+-----------------+

In [15]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [16]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+

In [17]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Krish|      10000|
|    sunny|      10000|
|   Mahesh|       4000|
+---------+-----------+