In [1]:
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

Showing Age as a string so we are adding inferSchema

In [9]:
df_pyspark=spark.read.csv('aa.csv',header=True,inferSchema=True)

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  dfsds|  23|         3| 35000|
|   dsfe|  30|         4| 40000|
|   fsff|null|         1| 25000|
|    fvf|  27|         3|  null|
|cvcvvdv|null|      null|400000|
|  ssddd|null|         6| 30000|
+-------+----+----------+------+

In [12]:
from pyspark.ml.feature import Imputer
imputer= Imputer(
    inputCols=['Age','Experience','Salary'], 
    outputCols=["{}_imputed]".format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy("mean")

In [13]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+------------+-------------------+---------------+
|   Name| Age|Experience|Salary|Age_imputed]|Experience_imputed]|Salary_imputed]|
+-------+----+----------+------+------------+-------------------+---------------+
|  dfsds|  23|         3| 35000|          23|                  3|          35000|
|   dsfe|  30|         4| 40000|          30|                  4|          40000|
|   fsff|null|         1| 25000|          26|                  1|          25000|
|    fvf|  27|         3|  null|          27|                  3|         106000|
|cvcvvdv|null|      null|400000|          26|                  3|         400000|
|  ssddd|null|         6| 30000|          26|                  6|          30000|
+-------+----+----------+------+------------+-------------------+---------------+

*Filter operations*

In [15]:
##Salary of the people less than or equal to 200000
df_pyspark.filter("Salary<=30000").show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| fsff|null|         1| 25000|
|ssddd|null|         6| 30000|
+-----+----+----------+------+

In [16]:
df_pyspark.filter("Salary<=30000").select(['Name','Age']).show()

+-----+----+
| Name| Age|
+-----+----+
| fsff|null|
|ssddd|null|
+-----+----+

In [17]:
df_pyspark.filter(df_pyspark['Salary']<=30000).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| fsff|null|         1| 25000|
|ssddd|null|         6| 30000|
+-----+----+----------+------+

In [21]:
df_pyspark.filter((df_pyspark['Salary']<=30000) |
                 (df_pyspark['Salary']>=35000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  dfsds|  23|         3| 35000|
|   dsfe|  30|         4| 40000|
|   fsff|null|         1| 25000|
|cvcvvdv|null|      null|400000|
|  ssddd|null|         6| 30000|
+-------+----+----------+------+

In [23]:
#not operation
df_pyspark.filter(~(df_pyspark['Salary']<=30000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  dfsds|  23|         3| 35000|
|   dsfe|  30|         4| 40000|
|cvcvvdv|null|      null|400000|
+-------+----+----------+------+